{% extends "index.html" %}

{% block title %}
Welcome
{% endblock %}

{% block body %}
<main class="px-3 center">
    <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">400</font></font></h1>
    <p class="lead container"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Нажаль, сталася помилка на стороні клієнта.</font></font></p>
    <p class="lead">
      <a href="/" class="btn btn-lg fw-bold border-white btn-primary" style="animation: form 2s ease-in-out forwards; opacity: 0; animation-delay: 1s;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Повернутися на головну</font></font></a>
    </p>
</main>
{% endblock %}
