{% extends "index.html" %}

{% block title %}
Welcome
{% endblock %}

{% block body %}
<main class="px-3 center">
    <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">404</font></font></h1>
    <p class="lead container"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Нажаль, такої сторінки на нашому сайті не існує. Або ви не маєте до неї необхідного доступу.</font></font></p>
    <p class="lead">
      <a href="/" class="btn btn-lg fw-bold border-white btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Повернутися на головну</font></font></a>
    </p>
  </main>
{% endblock %}
