{% extends "index.html" %}

{% block title %}
Welcome
{% endblock %}

{% block body %}
<main class="px-3 center" style="animation: visible 1.5s ease-in-out forwards; opacity: 0;">
    <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вітаємо вас</font></font></h1>
    <p class="lead container"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Materio — це web-додаток, який дозволить свторювати приватні нотаки, або публічні статті </font></font></p>
    <p class="lead">
        <a href="/create" class="btn btn-lg fw-bold border-white btn-primary" ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Почати створювати</font></font></a>
    </p>
  </main>
{% endblock %}
