<!doctype html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body style="background-color: #EFF6E0">
    <h1 class="center">Вітаю вас з реєстрацією на веб сайті Materio.<br>Час дії коду - 5 хвилин<br>Ось ваш код підтвердення електронної адреси:<br>
        <strong>{{code}}</strong><br>На це повідомлення ніяк відповідати не потрібно!<br>     Materio Ad min</h1>
</body>
</html>
